<div class="tabla-alumos" *ngIf="!alumnosService.filtroCurso || alumnosService.filtroCurso == titulo">
  <div class="titulo">{{ titulo }}</div>
  <table class="table table-bordered">
    <tr>
      <th>Nombre</th>
      <th *ngFor="let asignatura of asignaturasService[lista]"> {{ asignatura.nombre }} </th>
      <th>Suma</th>
      <th>Media</th>
    </tr>
    <tr *ngFor="let alumno of alumnosService.lAlumnosFiltrados">
      <ng-container *ngIf="alumno[lista]">
        <td>
          <input ([ngModel])="alumno.nombre" [value]="alumno.nombre" (keyup.enter)="actualizarNombre($event.target.value, alumno)" />
        </td>
        <td *ngFor="let nota of alumno[lista]; let i = index">
          <input ([ngModel])="nota" [value]="nota" (keyup.enter)="actualizarNota($event.target.value, i, alumno)" />
        </td>
        <td class="calculos">
          {{ alumnosService.getSuma(alumno) }}
        </td>
        <td class="calculos">
          {{ alumnosService.getMedia(alumno) }}
        </td>
      </ng-container>
    </tr>
  </table>
</div>