.asignaturas-modal {
  .modal-wrapper {
    width: 60%;
    height: 460px;
  }

  ion-button{
    width: 120px;
  }
}

.editar-asignatura {
  .alert-wrapper {
    min-width: 320px;
  }
  .alert-button-group {
    display: flex;
    flex-direction: row;
  }
}